*{
    margin:0px;
    padding:0px;
    border:0px;
}

body {
    background: grey;
}
nav{
    min-height:100px;
    width: 200px;
    border-right: solid black 2px;
    border-bottom: solid black 2px;
}

nav:hover a{
    display: block;
}

nav a{
    margin: 30px 10px 30px 20px;
    font-size: 18pt;
    text-decoration: none;
    padding: 5px;
    color: black;
    display: none;
    
}

nav a:hover{
    background-color: beige;
    border-radius : 18px;
}


main{
    color:beige;
    margin-top: 25px;
    font-size: 20pt;
    position: absolute;
    left:200px;
    right:0px;
    top:100px;
    padding: 10px;
}


nav img{
    width: 80px;
    margin-left: 60px;
}


#banniere{
    position: absolute;
    left:200px;
    right:0px;
    top:0px;
    height: 100px;
    border-bottom: solid black 2px;
    font-size: 2rm;
    text-align: center;
}
class{
    font-size: 20px;
    position:absolute;
    
}
