main{
    border: solid white 2px;
    display: flex;
    align-items: center;
    margin-top: 25px;
    font-size: 20pt;
    left:200px;
    right:0px;
    top:100px;
    padding: 10px;
}
main > p{
    margin-left: 20px;
    text-align: justify;
}

.btn_container{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
}
#photoid{
    display: block;
    width: 200px;
    border-radius: 200px;
    border: solid white 2px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 200px;
    margin: auto;
    text-align: center;
}

.card p{
    text-align: center;
}
  
.card .title {
    color: white;
    font-size: 20px;
}