.btn__nav{
    font-size: 33px;
    top: 10px;
    left: 10px;
    position: fixed;
    width: 40px;
    height: 40px;
    background-color: white;
    text-align: center;
    border-radius: 10px;
}

.btn__nav:hover{
    cursor: pointer;
}

.container__nav{
    z-index: 1000;
    background-color: white;
    top: 60px;
    position: fixed;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    transition: all .2s;

}
.hide__nav{
    left: -1000px;
    opacity: 0;
    transition: all .2s;

}
.show__nav{
    left: 10px;
    opacity: 1;
    transition: all .2s;

}
.nav__menu_a{
    display: flex;
    text-decoration: none;
    font-size: 25px;
    justify-content: center;
    padding: 5px;
    color: black;
    width: 100%;
}

.nav__menu_a:first-child{
    border-radius: 10px 10px 0 0 ;
}

.nav__menu_a:last-child{
    border-radius:  0 0 10px 10px;
}

.nav__menu_a:hover{
    background-color: aqua;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

